{% load static %}

<!DOCTYPE html>
<html>
<head>



</head>


<body>


<link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>{% block title %}AppStore{% endblock %}</title>
   <nav>
            <a href="{% url 'main:index' %}">Главная</a>
            <a href="{% url 'main:about' %}">О магазине</a>
            <a href="{% url 'main:reviews' %}">Отзывы</a>
            <a href="{% url 'main:free' %}">Бесплатные</a>
            <a href="{% url 'main:new' %}">Новинки</a>
            <a href="{% url 'main:premium_apps' %}">Дорогие</a>

            <a href="{% url 'main:cheap_apps' %}">Дешевые</a>
                {% if user.is_authenticated %}
            <span>Вы вошли как <strong>{{ user.username }}</strong></span>
            <form method="post" action="{% url 'main:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'main:login' %}">Войти</a>
            <a href="{% url 'main:register' %}">Регистрация</a>

        {% endif %}

        </nav>


        <p class="nav_categories">
        Категории:
        {% for category in categories %}
            <a href="{% url 'main:category' category.id %}"
               {% if request.resolver_match.url_name == 'category' and request.resolver_match.kwargs.category_id == category.id %}class="active"{% endif %}>
                {{ category.name }}
            </a>
            ({{ category.apps_count }}){% if not forloop.last %} · {% endif %}
        {% empty %}
            пока нет категорий
        {% endfor %}
    </p>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock %}

</body>

<footer>
        <p>В магазине {{ apps_total }} приложении; {{ categories_total }} категории</p>
    </footer>
</html>