{% extends 'main/base.html' %}

{% block title %}Главная — AppStore{% endblock %}

{% block content %}

     <h2>Приложения в магазине</h2>

        {% for category in categories %}
            <a href="{% url 'category' category.id %}">{{ category.name }}</a>
           ({{category.app_set.count}}){% if not forloop.last %} . {%endif%}
        {% endfor %}


    <ul>
    {% for app in apps %}
        <li>
            <strong><a href="{% url 'app_detail' app.id %}">{{app.name}}</a></strong> — {{ app.category }}<br>
            {{ app.description|truncatechars:60 }}<br>
            <br>
            Размер - {{app.weight_unit}}
            <br>
             {% if app.price == 0 %}
                Бесплатно
            {% else %}
                {{ app.price }} $
            {% endif %}
            <br>
            добавлено {{ app.created_at|date:"d.m.Y" }}
        </li>
    {% empty %}
        <li>Приложений пока нет.</li>
    {% endfor %}
    </ul>

    <p>Всего приложений: {{ apps|length }}</p>

{% endblock %}